.card {
  background-color: whitesmoke;
  border-radius: 10px;
  width: 200px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &__employee {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50%;
  }
}
