@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&family=Rampart+One&family=Staatliches&display=swap");


$font-primary: 'Oxygen', sans-serif;
$heading-primary: 'Rampart One', cursive;
$heading-secondary: 'Staatliches', cursive;